/*Ágatha de Souza e Kalel*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
}
.menu {
    width: 100%;
    box-sizing: border-box;
    font-family: Poppins;
    display: flex;
    gap: 6rem;
    justify-content: center;
    border-bottom: 10px solid #eeeeee;
    background-color: #eeeeee;
    padding: 5px 0;
    align-items: center;

}

.menu a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #545454;
    transition: all 0.2s ease-in-out
}

.menu a:hover {
  text-decoration: underline;  
}

.menu input[type="text"] {
  background-color: #d9d9d9;           
  border: none;                    
  border-radius: 20px;              
  padding: 10px 40px 10px 40px;    
  font-size: 16px;
  position: relative;
  background-image: url('Imagens/Icones/search.png');
  background-repeat: no-repeat;
  background-position: 10px center;  /* posição da lupa */
  background-size: 20px;  
  display: flex;
  align-items: center;
}

.titulo{
  font-family: Poppins;
  font-size: 4rem;
  display: flex;              
  align-items: baseline;         
  gap: 7rem;                   
}

.titulo h1{
  margin: 0;
  margin-top: 5rem;
  margin-left: 10rem;
  line-height: 1;
}

.titulo img{
  width: 22rem;
  height: auto;
}

.conteudo{
    font-family: "Open Sans", sans-serif;
    color: black;
    font-style: normal;
    font-size: 30px;
    margin-left: 6rem;
    margin-bottom: 0%;
    word-spacing: 10px;
    max-width: 60rem;
    text-align: justify;
    word-wrap: break-word;
}

.baner{
  width: 100%;
  height: 50rem;
  margin: 0px;
  overflow: hidden;
  border: none;
  overflow-y:hidden;
}

.baner::-webkit-scrollbar{
  display: none;
}

.titulo2{
  font-family: Poppins;
  text-align: center;
  font-size: 2.7rem;
  margin: 0;
}

.medalhistas{
  font-family: 'Opens Sans', sans-serif;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

li img:first-of-type {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.medalhistas h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.iconmedal{
  width: 40px;
  height: auto;
  margin-left: 65rem;
}

.medalTitulos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7.9rem; /* ajuste fino para alinhar com os círculos */
  margin-left: 28.3rem; /* alinha com o início dos círculos */
  margin-top: 5rem;
  margin-bottom: -3rem;      
  line-height: o;       
  padding: 0;
}

.medalOuro,
.medalPrata,
.medalBronze {
  margin: 0;
  padding: 0;
}

.medalOuro{
  font-size: 1.5rem;
  color: gold;
   -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: goldenrod;
}

.medalPrata{
  font-size: 1.5rem;
  color: silver;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(154, 152, 152);
}

.medalBronze{
  font-size: 1.5rem;
  color: #d78c43;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a16325;
}

.medalhas {
    display: flex;
    margin-right: 20px;
    margin-bottom: 10px;
    gap: 10px;
}

.medalhas div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    margin-left: 10rem;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: black;
    gap: 10px;
}

.Ouro{
  background-color: gold;
}

.Prata{
  background-color: silver;
}

.Bronze{
  background-color: #d78c43;
}

.total{
 font-weight: normal;
  font-size: 1.1rem;
  margin-left: 5rem;
  margin-bottom: 10px;  
  border: 2px solid #bab8b5;
  border-radius: 6px;
  padding: 7px;
}

.ranking{
  display: flex; /* Alinha os itens na mesma linha */
  align-items: center; /* Alinha os itens verticalmente no centro */
  gap: 10px;
}

.medalhas img:last-of-type {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}
.atletas .nome{
    font-size: 1.3rem;
    font-style: normal;
    color: #000000;
}

.atletas .modal{
    font-size: 1rem;
    color: #545454;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

.pais {
  display: flex;
  align-items: center; /* alinha verticalmente */
  gap: 20px; /* espaço entre bandeira e texto */
  margin-bottom: 12px;
  justify-content: flex-start;
}

.pais img {
  width: 50px;
  height: 50px;
}

.atletas {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-left: 10rem;
}

.atletas img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


footer {
    background-color: #1f1e1e; 
    color: #d9d9d9; 
    font-family: "Open Sans", sans-serif; 
    padding-top: 20px; 
    width: 100vw; /*Aqui é pra fazer com que o rodapé fique ocupando 100% da página, porque não estava funcionando com a medida 100%, entçao eu pesquisei e descrobri essa medida "vw" o prpblema dela é que ela desalinha, então ali abaixo eu vou resolver essa tag com essa unidade de medida.*/
    position: relative;
    left: calc(-50vw + 49.4%); /*Aqui é pra fazer com que a medida "100vw" não fique desalinhado de acordo com a página, então ele faz com o o elemento fique com o alinhamento central e correto*/
}

.footer_menu {
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding-bottom: 20px; 
}


.footer_icones {
    display: flex; 
    justify-content: center; 
    gap: 70px;     margin-bottom: 30px; 
}

.footer_icones img {
    width: 55px; /* Tamanho dos ícones */
    height: 50px;
    
}


.footer_links {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 60px; 
}

.footer_links a {
    color: #d9d9d9; 
    text-decoration: none; 
    font-size: 20px;
}

.footer_links a:hover {
    color: #ffffff; 
}

.footer_copyright {
    background-color: #000000; 
    text-align: center;
    padding: 15px 0;
    margin-top: 15px; 
}

.footer_copyright p {
    margin: 0; 
    font-size: 17px;
    color: #d9d9d9;
}