@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    box-sizing: border-box;
    font-family: Poppins;
    display: flex;
    gap: 6rem;
    justify-content: center;
    border: 10px solid #eeeeee;
    background-color: #eeeeee;
    padding: 5px 0;
    align-items: center;

}

.menu a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #545454;
    transition: all 0.2s ease-in-out
}

.menu a:hover {
  text-decoration: underline;   
}

.menu input[type="text"] {
  background-color: #d9d9d9;           /* cor de fundo */
  border: none;                    /* sem borda */
  border-radius: 20px;              /* cantos arredondados */
  padding: 10px 40px 10px 40px;     /* espaço interno (mais à esquerda p/ ícone) */
  font-size: 16px;
  position: relative;
  background-image: url('Imagens/Icones/search.png');
  background-repeat: no-repeat;
  background-position: 10px center;  /* posição da lupa */
  background-size: 20px;   
  display: flex;
  align-items: center;
}